In [ ]:

                               TOPIC: HEART-DISEASE PREDICTION:
                               DATASET : /heart.csv

#IMPORTING THE DEPENDENCIES

In [ ]:
import warnings 
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

#DATA COLLECTION AND PROCESSING

In [ ]:
heart_data=pd.read_csv("/heart.csv")

In [ ]:
heart_data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [ ]:
dummy=pd.get_dummies(heart_data['Sex'])

In [ ]:
dummy.head()

   F  M
0  0  1
1  1  0
2  0  1
3  1  0
4  0  1

In [ ]:
heart_data.drop(['Sex'],axis=1,inplace=True)

In [ ]:
heart_data.head()

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [ ]:
heart_data1=pd.concat((heart_data,dummy),axis=1)

In [ ]:
heart_data1.head()

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,F,M
0,40,ATA,140,289,0,Normal,172,N,0.0,Up,0,0,1
1,49,NAP,160,180,0,Normal,156,N,1.0,Flat,1,1,0
2,37,ATA,130,283,0,ST,98,N,0.0,Up,0,0,1
3,48,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,1,0
4,54,NAP,150,195,0,Normal,122,N,0.0,Up,0,0,1

In [ ]:
heart_data.drop(['ChestPainType'],axis=1,inplace=True)

In [ ]:
heart_data.head()

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,140,289,0,Normal,172,N,0.0,Up,0
1,49,160,180,0,Normal,156,N,1.0,Flat,1
2,37,130,283,0,ST,98,N,0.0,Up,0
3,48,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,150,195,0,Normal,122,N,0.0,Up,0

In [ ]:
heart_data.drop(['RestingECG'],axis=1,inplace=True)

In [ ]:
heart_data.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,140,289,0,172,N,0.0,Up,0
1,49,160,180,0,156,N,1.0,Flat,1
2,37,130,283,0,98,N,0.0,Up,0
3,48,138,214,0,108,Y,1.5,Flat,1
4,54,150,195,0,122,N,0.0,Up,0

In [ ]:
heart_data.drop(['ExerciseAngina'],axis=1,inplace=True)

In [ ]:
heart_data.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,ST_Slope,HeartDisease
0,40,140,289,0,172,0.0,Up,0
1,49,160,180,0,156,1.0,Flat,1
2,37,130,283,0,98,0.0,Up,0
3,48,138,214,0,108,1.5,Flat,1
4,54,150,195,0,122,0.0,Up,0

In [ ]:
heart_data.drop(['ST_Slope'],axis=1,inplace=True)

In [ ]:
heart_data.head()

   Age  RestingBP  Cholesterol  FastingBS  MaxHR  Oldpeak  HeartDisease
0   40        140          289          0    172      0.0             0
1   49        160          180          0    156      1.0             1
2   37        130          283          0     98      0.0             0
3   48        138          214          0    108      1.5             1
4   54        150          195          0    122      0.0             0

In [ ]:
heart_data.tail()

     Age  RestingBP  Cholesterol  FastingBS  MaxHR  Oldpeak  HeartDisease
913   45        110          264          0    132      1.2             1
914   68        144          193          1    141      3.4             1
915   57        130          131          0    115      1.2             1
916   57        130          236          0    174      0.0             1
917   38        138          175          0    173      0.0             0

In [ ]:
heart_data.isnull()

       Age  RestingBP  Cholesterol  FastingBS  MaxHR  Oldpeak  HeartDisease
0    False      False        False      False  False    False         False
1    False      False        False      False  False    False         False
2    False      False        False      False  False    False         False
3    False      False        False      False  False    False         False
4    False      False        False      False  False    False         False
..     ...        ...          ...        ...    ...      ...           ...
913  False      False        False      False  False    False         False
914  False      False        False      False  False    False         False
915  False      False        False      False  False    False         False
916  False      False        False      False  False    False         False
917  False      False        False      False  False    False         False

[918 rows x 7 columns]

In [ ]:
heart_data.isnull().sum()

Age             0
RestingBP       0
Cholesterol     0
FastingBS       0
MaxHR           0
Oldpeak         0
HeartDisease    0
dtype: int64

In [ ]:
heart_data.shape

(918, 7)

In [ ]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Age           918 non-null    int64
 1   RestingBP     918 non-null    int64
 2   Cholesterol   918 non-null    int64
 3   FastingBS     918 non-null    int64
 4   MaxHR         918 non-null    int64
 5   Oldpeak       918 non-null    float64
 6   HeartDisease  918 non-null    int64
dtypes: float64(1), int64(6)
memory usage: 50.3 KB

#STATISTICAL APPROACHES

In [ ]:
heart_data.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

#CHECKING THE DISTRIBUTION OF HEART DISEASE

In [ ]:
heart_data['HeartDisease'].value_counts()

1    508
0    410
Name: HeartDisease, dtype: int64

#SPILITTING TARGET AND FEATURES
TARGET --> HEART DISEASE
FEATURES --> OTHERS

In [ ]:
X=heart_data.drop(columns='HeartDisease',axis=1)
Y=heart_data['HeartDisease']

In [ ]:
print(X)

     Age  RestingBP  Cholesterol  FastingBS  MaxHR  Oldpeak
0     40        140          289          0    172      0.0
1     49        160          180          0    156      1.0
2     37        130          283          0     98      0.0
3     48        138          214          0    108      1.5
4     54        150          195          0    122      0.0
..   ...        ...          ...        ...    ...      ...
913   45        110          264          0    132      1.2
914   68        144          193          1    141      3.4
915   57        130          131          0    115      1.2
916   57        130          236          0    174      0.0
917   38        138          175          0    173      0.0

[918 rows x 6 columns]

In [ ]:
print(Y)

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 918, dtype: int64

#SPLITTING TRAIN AND TEST DATA

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=2)

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(918, 6) (734, 6) (184, 6)

X TRAIN =  FEATURES OF TRAINING DATA OF X
X TEST = FEATURES OF TESTING DATA OF X
Y TRAIN= TARGET OF ALL X TRAIN
Y TEST = TARGET OF X TEST

#MODEL TRAINING(LOG.REG)

In [ ]:
log_re=LogisticRegression()

#TRAINING LOG.REG MODEL WITH TRAINING DATASET

In [ ]:
log_re.fit(X_train,Y_train)

LogisticRegression()

#ACCURACY SCORE
 (HOW MUCH PRECENTAGE THAT MODEL HAS BEEN PREDICTED CORRECTLY)

#ACCURACY ON TRAINING DATA

In [ ]:
X_train_prediction=log_re.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [ ]:
print(X_train_prediction)

[1 0 1 1 1 0 1 1 0 1 0 1 1 1 0 0 1 1 1 0 1 1 0 0 1 0 0 1 0 0 1 0 1 1 1 0 1
 0 0 0 0 1 1 1 0 1 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 1 1 1 1 0 1 1 1 1 1 0 0 0
 1 0 1 1 0 1 1 0 0 0 1 0 1 1 1 0 0 1 0 0 0 1 1 0 1 1 0 0 0 1 0 1 1 1 1 1 1
 1 1 1 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 0 1 0 1 1 1 1 1 1 0 1 0 0 0 1 1 1 0
 0 0 1 1 1 0 1 0 1 1 1 0 1 1 0 1 1 0 0 1 0 1 1 1 0 0 0 1 0 1 0 1 0 1 0 1 1
 1 0 1 0 1 0 1 1 1 1 0 1 1 1 1 0 0 1 0 0 1 0 1 1 1 0 1 1 1 1 1 0 1 1 1 0 1
 1 1 0 1 1 0 1 1 0 1 1 1 1 1 1 0 0 0 1 0 1 0 1 1 0 1 0 0 1 0 1 1 1 1 0 1 1
 0 1 0 0 0 0 1 0 1 0 1 1 1 0 1 0 1 0 1 0 0 0 1 1 0 0 1 0 1 1 1 0 0 1 0 1 0
 1 0 1 0 1 0 0 0 1 1 0 1 0 1 1 1 1 1 1 1 1 0 0 0 1 0 0 0 1 0 1 1 1 1 1 1 0
 0 1 0 0 0 0 1 1 1 0 0 0 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 0 1
 0 1 1 0 1 1 1 1 1 1 0 0 0 0 1 0 0 0 1 1 0 1 1 1 1 1 0 0 0 0 1 1 0 1 0 0 1
 0 0 0 1 1 1 1 1 0 1 0 0 1 0 0 1 1 0 0 1 0 1 0 1 0 0 0 0 1 0 0 0 1 1 0 1 0
 0 1 1 0 1 0 1 0 0 0 0 1 1 1 1 1 1 1 0 0 1 0 0 1 1 1 0 1 0 1 1 0 1 0 1 1 0
 1 0 1 0 0 0 1 1 0 1 1 0 0 1 0 1 1 0 1 1 0 0 1 0 0 0 0 0 1 1 1 1 1 0 1 0 1
 1 1 1 1 1 0 0 0 1 1 1 1 0 0 1 1 1 0 1 1 0 1 1 1 1 1 0 1 0 1 1 0 0 0 1 0 1
 1 0 0 0 1 1 0 0 0 1 1 0 1 0 1 0 0 1 1 0 1 0 0 1 0 1 0 1 1 0 1 1 1 0 1 0 0
 0 0 1 0 0 1 0 1 1 1 1 0 1 0 1 0 1 1 0 0 1 1 0 0 1 1 0 0 1 0 1 0 1 1 1 1 1
 0 1 0 1 0 1 0 0 0 0 1 0 1 1 0 1 0 1 1 1 1 0 0 1 1 1 1 1 0 0 0 0 1 1 0 1 1
 1 1 1 1 0 1 1 0 0 1 1 1 1 0 0 0 1 0 1 1 1 1 1 1 1 0 0 1 1 1 0 0 0 1 0 1 0
 1 1 1 0 0 1 1 1 0 1 0 1 0 0 0 0 1 0 1 1 1 0 1 1 1 1 1 1 1 0 1]

In [ ]:
print(training_data_accuracy)

0.7643051771117166

#ACCURACY FOR TEST DATA

In [ ]:
X_test_prediction=log_re.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [ ]:
print(test_data_accuracy)

0.75

overfitting (not approx)

#BUILDING A PREDICTIVE SYSTEM

In [ ]:
input_data=(49,	160	,180,	0	,156,	1.0	)

#change the input data to a numpy array
input_data_as_numpy_array=np.asarray(input_data)

#reshape the numpy array  as we are predicting for only on instance
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)

prediction=log_re.predict(input_data_reshaped)
print(prediction)

[0]

In [ ]:
if(prediction[0]==0):
  print('The person does not have a Heart disease')
else:
  print('The person has a Heart Disease')

The person does not have a Heart disease